/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 90%;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #4c4d5f;
}

.btn {
  text-transform: uppercase;
}

.container-menu {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.nav-logo .bi-archive {
  color: #00b289;
}

.nav-menu {
  display: flex;
  position: relative;
}

.navmenu-item {
  padding-right: 15px;
}

.dropdown:hover .submenu {
  display: block;
}

.bi-chevron-compact-down {
  padding-right: 10px;
  padding-left: 10px;
}

.submenu {
  display: none;
  position: absolute;
}

.btn-login {
  border: 1px solid #00b289;
  background-color: #F1FCFF;
  color: #00b289;
  padding: 5px 10px;
}

.btn-start {
  background-color: #00b289;
  border: 1px solid #00b289;
  color: #ffffff;
  padding: 5px 10px;
}

.plans-header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 5px 0px;
}

.switch {
  display: inline-block;
  height: 25px;
  width: 50px;
  position: relative;
}

.switch-check {
  opacity: 0;
  height: 0;
  width: 0;
}

.switch-check:checked + .switch-check {
  background-color: #00b289;
}

.switch-check:focus + .switch-slider {
  box-shadow: 0 0 1px #00b289;
}

.switch-check:checked + .switch-slider::before {
  transform: translateX(15px);
}

.switch-slider {
  cursor: pointer;
  position: absolute;
  background-color: #00b289;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.switch-slider::before {
  content: "";
  background-color: #ffffff;
  bottom: 4px;
  position: absolute;
  height: 15px;
  left: 4px;
  transition: 0.4s;
  width: 15px;
}

.slider-round {
  border-radius: 15px;
}

.slider-round::before {
  border-radius: 50%;
}

.plans-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header h2 {
  padding-bottom: 10px;
}

.card-header .price {
  font-size: 32px;
}

.card-header .sub {
  font-size: smaller;
  vertical-align: top;
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
