$c-primary: #00b289;
$c-secundary: #4c4d5f;
$c-greenlight: #F1FCFF;
$c-yellow: #f8db62;
$c-white: #ffffff;

// container
.container {
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
  color: $c-secundary;
}

.btn {
  text-transform: uppercase;
}
// nav
.container-menu {
  display: flex;
  justify-content: space-between;
}

.nav{
  padding: 10px 0px;
}

.nav-logo {
  .bi-archive {
    color: $c-primary;
  }
}

.nav-menu {
  display: flex;
  position: relative;
}

.navmenu-item {
  padding-right: 15px;
}
.navmenu-link {}
// drop menu
.dropdown {}
.dropdown:hover .submenu {
  display: block;
}
// menu row
.bi-chevron-compact-down {
  padding-right: 10px;
  padding-left: 10px;
}

.submenu {
  display: none;
  position: absolute;
}
.submenu-item {}
.submenu-link {
  
}
// buttons nav
.nav-buttons {

}

.btn-login {
  border: 1px solid $c-primary;
  background-color: $c-greenlight;
  color: $c-primary;
  padding: 5px 10px;
}

.btn-start {
  background-color: $c-primary;
  color: $c-white;
  padding: 5px 10px;

}