$c-primary: #00b289;
$c-secundary: #4c4d5f;
$c-yellow: #f8db62;
$c-white: #ffffff;

// container
.container {
  margin: 0 auto;
  width: 90%;
}
// nav
.nav{

}

.nav-logo {
  .bi-archive {
    color: $c-primary;
  }
}

.nav-menu {

}

.nav-buttons {
  
}