@use "sass:map";

@import "reset";
@import "variables";
@import "responsive";

html {
  font-size: map.get($f-sizes,"normal")
}

body {
  background-color: $c-white;
  font-size: 1rem;
  font-weight: map.get($f-weight, "regular");
}

// container
.container {
  margin: 0 auto;
  position: relative;
  width: 60%;
}

// all
body {
  height: 100vh;
}

a {
  color: $c-secundary;
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  text-transform: uppercase;
}

h3 {
  font-size: map-get($f-sizes, "small" );
  padding-bottom: 1rem;
}
// =============
.pt {
  padding-top: 1rem;
}
.pb {
  padding-top: 1rem;
}
// nav
.container-menu {
  display: flex;
  justify-content: space-between;
}

.nav{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  .bi-archive {
    color: $c-primary;
  }
}

.nav-menu {
  display: flex;
  position: relative;
}

.navmenu-item {
  padding-right: 15px;
}
.navmenu-link {}
// drop menu
.dropdown {}
.dropdown:hover .submenu {
  display: block;
}
// menu row
.bi-chevron-compact-down {
  padding-right: 10px;
  padding-left: 10px;
}

.submenu {
  display: none;
  position: absolute;
}
.submenu-item {}
.submenu-link {
  
}
// buttons nav
.nav-buttons {

}

.btn-login {
  border: 1px solid $c-primary;
  background-color: $c-greenlight;
  color: $c-primary;
  padding: 5px 10px;
}

.btn-start {
  background-color: $c-primary;
  border: 1px solid $c-primary;
  color: $c-white;
  padding: 5px 10px;
}

// section plans
.section-plans {}

.container-plans {
 display: flex;
 flex-direction: column;
 width: 50%;
}

// plans header
.plans-header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 55px 0px;
  justify-self: center;
}

.plans-header-title {
    font-size: map-get($f-sizes, "big");
}

plans-header-duraton {
}
// toggle switch
.switch {
  display: inline-block;
  height: 25px;
  width: 50px;
  position: relative;

}
.switch-check {
  opacity: 0;
  height: 0;
  width: 0;
}

.switch-check:checked + .switch-check {
  background-color: $c-primary;
}

.switch-check:focus + .switch-slider {
  box-shadow: 0 0 1px $c-primary;
}

.switch-check:checked + .switch-slider::before {
  transform: translateX(15px);
}
.switch-slider {
  cursor: pointer;
  position: absolute;
  background-color: $c-primary;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: .4s;
}
.switch-slider::before {
  content: "";
  background-color: $c-white;
  bottom: 4px;
  position: absolute;
  height: 15px;
  left: 4px;
  transition: .4s;
  width: 15px;
}
.slider {
}
.slider-round {
  border-radius: 15px;
}
.slider-round::before {
  border-radius: 50%;
}

//plans prices
.plans-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  border: 1px solid $c-secundary;
  padding: 20px 20px;

}
.card-header {
 border-bottom: 3px solid $c-primary;
}

.card-header h2 {
  padding-bottom: 10px;
}
.card-header .price {
  font-size: 32px;
  margin-bottom: 10px;
}
.card-header .sub {
  font-size: smaller;
  vertical-align: top;
  padding-right: 5px;
}
.card-content {
  margin-top: 15px;
  .list {}
  .list-item {
    padding-bottom: 5px;
  }
}

.card-footer {}
.card-footer .btn {
  background-color: $c-primary;
  border: 1px solid $c-primary;
  color: $c-white;
  padding: 10px 30px;
}

// Sections extras
.section-extras{
  .extras-title {
    padding: 15px 15px;
    text-align: center;
  }
}
// extras container
.extras-container {
  border: 1px solid $c-black;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.extras-header {
  flex: 1;
}

.extras-header h3 {
  font-weight: map.get($f-weight, "bold" );
}

.extras-header p {
  font-weight: map.get($f-weight, "light" );
}

.extras-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: right;
  vertical-align: middle;
  .price {
    font-size: map.get($f-sizes, "medium");
    font-weight: map.get($f-weight , "bold" );
  }
}
// setion start
.container-start {
  background-color: $c-greenlight;
  display: flex;
  flex-direction: row;
  padding: 20px 5px;
}
.start-header{
  flex: 1;
  > h2 {
    font-size: map.get($f-sizes, "medium" );
  }
}
.start-btns {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.start-btn{
  background-color: $c-primary;
  border: none;
  color: $c-white;
  padding: 5px 15px;
}
// sections questions
.section-questions {
  padding-bottom: 5rem;
}
.container-questions {
  text-align: center;
}
.questions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// footer
.footer {
 
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
.products { 
  .products-title {
    padding-top: 1rem;
  }
}
.free {
  .free-title {
    padding-top: 1rem;
  }
}
.social {
  
}